@model BlogCMS.Entites.Conrete.Menu

@{
    ViewBag.Title = "Menü Güncelle";
    Layout = "_Layout";
}



<form method="POST" action="/Menu/Update" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.Id" />
    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header bg-green">
                    <h2 style="text-transform: uppercase">
                        <i class="material-icons">check</i> &nbsp;menü güncelle
                    </h2>
                </div>

                <div class="body">
                    <div class="row">
                        <div class="form-groug form-float">
                            <div class="col-md-4 form-line">
                                @await Component.InvokeAsync("LiveMenu")
                            </div>
                        </div>
                        <br>
                        <div class="col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input name="Name" type="text" class="form-control" value="@Model.Name" required="required">
                                    <label class="form-label">Menü Adı</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">İcon</label>
                            <div class="input-group form-line iconpicker-container">
                                <input data-placement="bottomRight" name="Icon" id="IconPicker" class="form-control icp icp-auto iconpicker-element iconpicker-input" value="@Model.Icon" type="text">
                                <span class="input-group-addon"><i class="@Model.Icon"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-float ">
                                <label>Kapak Resmi Seç</label>
                                <input class="form-control" width="100%" type="file" name="Cover" value="@Model.Cover"/>
                                <img height="100px" src="" id="prev"/>
                            </div>
                        </div>
                        <div class="form-groug form-float">
                            <div class="col-md-6 form-line">
                                <p>
                                    <b>Durum</b>
                                </p>
                                <select name="Status" class="form-control show-tick">
                                    <option value="1" @(Model.Status == 1 ? "selected" : null)>Aktif</option>
                                    <option value="0" @(Model.Status == 0 ? "selected" : null)>Pasif</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <hr class="divider"/>
                    <div class="row">
                        <div class="form-groug form-float">

                            <div class="col-md-4 form-line">
                                <p>
                                    <b>Menü Tipi</b>
                                </p>
                                <select name="Type" id="type" class="form-control show-tick" data-live-search="true">
                                    <option value="menuListe" selected>Menu Listesi</option>
                                    <option value="tekSayfa">Tek Sayfa</option>
                                    <option value="link">Link Yönlendirme</option>
                                </select>
                            </div>
                            <div class="col-md-8" id="menuLink">
                                <br>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input name="link" type="text" class="form-control" value="@Model.Slug">
                                        <label class="form-label">Link</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="TipAlani" class="row">
                        <div class="col-md-12" id="tekSayfa">
                            <img src="/backend/images/tekSayfa.PNG" class="img-responsive"
                                 style="max-height: 200px; margin: auto" alt="">
                        </div>
                    </div>
                    <button class="btn btn-primary waves-effect" type="submit">
                        <i class="material-icons">done</i>Kaydet
                    </button>
                    <button class="btn btn-warning waves-effect" type="reset">
                        <i class="material-icons">delete</i>Formu Temizle
                    </button>

                </div>

            </div>
        </div>
    </div>
    <!-- #END# Basic Validation -->

</form>

<script>
    $('#menuLink').slideUp();
    $(document).ready(function () {

        //icon picker aktif etme
        $('#IconPicker').iconpicker();

        //resim seçerken resmi canlı görüntüleme
        var reader = new FileReader();
        reader.onload = function (r_event) {
            document.getElementById('prev').setAttribute('src', r_event.target.result);
        }

        document.getElementsByName('Cover')[0].addEventListener('change', function (event) {
            reader.readAsDataURL(this.files[0]);
        });

        //menü seçimine göre bilgilendirme şeridi ayarları
        $('#type').change(function () {
            var menuTipi = $('#type option:selected').val();
            if (menuTipi == "link") {
                $('#menuLink').slideDown();
            } else {
                $('#menuLink').slideUp();
            }
        });
    });
</script>
